<%- include('partials/header') -%>


<main class="homeContainer">
    <section class="homeHero">
        <div class="homeHeroText">
            <h1>Connecting Point
            <br>For Conductors With Honor Ensemble</h1>
            <p>Enhancing honor ensembles through empowering presenters, connecting conductors, and</p>
            <p>cultivating a harmonious towards exceptional music and rewarding experiences.</p>
        </div>
    </section>
    <section class="aboutSection">
        <div class="aboutSectionImage">
            <img src="/images/Untitled_Artwork.png">
        </div>
        <div class="aboutSectionText">
            <h1>About</h1>
            <p>Welcome to HonorEnsembleConductors.com, where the world of honor ensembles comes alive with vibrant energy and boundless oportunities!</p>
            <p>In the United States alone, a staggering 7,500 festival/honor ensemble events take place each year, resonating across all levels of musical excellence. From national showcases to regional, district, county, city, and school district performances, the stage is set for extraordinary experiences. And let's not forget the invitational weekends and prestigious music associations' honor ensembles that further enrich this musical tapestry. With a wide range of disciplines to choose from—chamber orchestra, symphonic orchestra, mixed choir, women's choir, men's choir, jazz vocal ensemble, show choir, wind ensemble, symphonic band, jazz band, percussion ensemble, and brass band—there's an honor ensemble awaiting your masterful direction, no matter your musical preference.</p>
            <p>The scope of opportunities is immense, catering to students from elementary, middle, and high schools, as well as community colleges and universities. Picture the awe-inspiring scene as approximately 645,000 talented participants join these prestigious honor ensembles each year. It's an unforgettable showcase of musical excellence, where students bring their skills to new heights and become part of something truly extraordinary.</p>
            <button>ABOUT</button>
        </div>
    </section>
    <section class="homeConductors">
        <img class="homeConductor1" src="/images/CSO130509b_098.jpg">
        <img class="homeConductor2" src="/images/SrMixedFull.jpg.webp">
        <img class="homeConductor3" src="/images/INV130330HusseinJ147-Edit.jpg">
    </section>

    <section class="homeSubscribeSection">

        <div class="homeConductorSubscription">
            <div class="homeSubscriptionAbout">
                <h1>Conductors</h1>
                <p>Step into a world of endless possibilities at HonorEnsembleConductors.com! Aspiring and seasoned middle school, high school, and college music educators, as well as professional conductors, are invited to join our exclusive community. Get ready to make money and break into the exhilarating business of conducting festival and honor ensembles!</p>
                <p>With our annual subscription, you'll gain access to an array of incredible benefits. Showcase your talent and experience by creating a captivating profile that will catch the attention of honor ensemble presenters. Not only that, but you'll also unlock the power of the honor ensemble presenters bulletin board, enabling you to respond directly to opportunities that align with your interests. We've made it easy for presenters to discover you by making your profile searchable by state and musical discipline.</p>
                <p>So, are you ready to take center stage and seize extraordinary opportunities? Join our vibrant community today! For detailed pricing information, please see below:</p>
            </div>

            <div class="homeSubscriptionFee">
                <div class="homeFee">
                    <h3>One-Time Set-Up Fee	</h3>
                    <h3>$14.95</h3>
                </div>
                <div class="homeFee">
                    <h3>Yearly Subscription Rate</h3>
                    <h3>$49.95</h3>
                </div>
                <div class="subscriptionButton">
                    <button>Subcribe Now</button>
                </div>
            </div>
        </div>

        <div class="homePresenterSubscription">

            <div class="homeSubscriptionAbout">
                <h1>Presenters</h1>
                <p>As a presenter of an honor ensemble, your priority is to find the perfect conductor who will elevate your event to new heights. And guess what? We make it a breeze!</p>
                <p>Explore our directory of potential conductors, absolutely free of charge! With just a few clicks, you can search by conductor's name, state, or music discipline until you find your ideal match. We provide you with all the necessary information to make direct contact with these exceptionally talented individuals. It's your chance to handpick the conductor who will bring your vision to life.</p>
                <h3>Presenter Bulletin</h3>
                <p>Showcase your event by completing an event profile and posting it on our coveted Presenters Bulletin Board. Whether you're looking for direct contact from potential conductors or prefer a different approach, you have full control.</p>
            </div>

            <div class="homeSubscriptionFee">
                <div class="homeFee">
                    <h3>One-Time Set-Up Fee	</h3>
                    <h3>Free</h3>
                </div>
                <div class="homeFee">
                    <h3>Bulletin Post Fee</h3>
                    <h3>$29.00</h3>
                </div>
                <div class="subscriptionButton">
                    <button>Post Now</button>
                </div>
            </div>
        </div>

    </section>
    <section class="homeImages">
       <div>
            <img class="homeImage" src="/images/Conductor - African America Male Conductor.jpg">
        </div>  
        <div>
            <img class="homeImage" src="/images/47574436_2178924505492741_1782459093387051008_n.jpg">
        </div>    
        <div>
            <img class="homeImage" src="/images/Luis Viquez.png">
        </div>    
    </section>

</main>


<%- include('partials/footer') -%>
